<div class="container mx-1">
  <h2>Dashboard</h2>

  <div class="card px-2 d-flex align-self-stretch" style="width: 16rem;">
    <img src="<%= @user.image %>" class="my-2 rounded-circle">
    <span class="d-flex justify-content-between"><%= @user.username %> <i class="fa-regular fa-pen-to-square"></i></span>
    <hr>
    <%= @user.bio %>
  </div>
</div>
