<form action="/update_user" method="patch">
    <input name="query_user_email" value="<%=current_user.email%>">
    <input name="query_username" value="<%=user.username%>"> 
    
    <button>
        Update user
      </button>
  </form>
