<nav class="navbar navbar-expand-md mb-2 px-5 d-flex justify-content-between nav-colors ysabeau-sc">
  <a class="navbar-brand" href="/">HobbyShare</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="/users/edit"><i class="fa-solid fa-gear"></i></a>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            <i class="fa-solid fa-right-from-bracket"></i>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">Sign-in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_up">Sign-up</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
