<div class="card my-3 mx-3 better-colors post-border" style="width: 18rem;">
  <!--<img src="..." class="card-img-top" alt="...">-->
  <div class="card-body ysabeau-sc">
    <h5 class="card-title"><%= hobby.name %></h5>
    <a href="/hobbies/<%= hobby.id %>" class="d-flex link-color align-items-center">Go to posts <i class="fa-solid fa-chevron-right mx-2"></i></a>
  </div>
</div>
