<div>
  <div>
    <h2 class="ysabeau-sc">
      hobbies
    </h2>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new hobby
    </h2>

    <form action="/insert_hobby" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button class="cool-btn">
        Create hobby
      </button>
    </form>
  </div>
</div>

<hr>

<div class="d-flex flex-wrap mx-2">
  <% @list_of_hobbies.each do |hobby| %>
    <%= render "hobby", hobby: hobby%>
  <% end %>
</div>
