<div>
  <div>
    <h2 class="ysabeau-sc">
      hobbies
    </h2>
  </div>
</div>

<hr>

<div>
  <div>
    <h2 class="ysabeau-sc">
      add a new hobby
    </h2>

    <form action="/insert_hobby" method="post">
      <div class="rubik d-flex flex-wrap">

        <input type="text" id="name_box" name="query_name" placeholder="Enter Hobby Name">

        <button class="rubik form-btn mx-2">
        Create hobby
        </button>
      </div>

      
    </form>
  </div>
</div>



<div class="d-flex flex-wrap mx-2 my-5">
  <% @list_of_hobbies.each do |hobby| %>
    <%= render "hobby", hobby: hobby%>
  <% end %>
</div>
