 <div class="d-flex align-items-center justify-content-around"> 
  <div class="post-border hero-div my-5">
    <h1 class="ysabeau-sc hero-text text-center">find your new hobby.</h1>
  </div>
  <div class="text-center">
    <img src="https://cdn.discordapp.com/attachments/1273115202631762045/1273115582996287570/IMG_8476.jpg?ex=66bd70c8&is=66bc1f48&hm=21621c9345b60b5d0245b6c2d84cff60ef3f980be8d907899ec31fb68ac0b497&", class="hero-img mx-5 my-5">
  </div>
</div>

<div class="mx-5 my-2 d-flex justify-content-end" style="backrgound: green">
  <p class="rubik blurb text-left px-3 py-4 post-border">Dive into your favorite pastimes, explore new interests, and celebrate the joy of hobbies with a community that shares your excitement. HobbyShare is the perfect place to connect with like-minded individuals, share your projects, and find inspiration. With features like customizable hobby feeds and a vibrant community, HobbyShare makes it easy to showcase your talents, learn new skills, and foster meaningful connections.</p>
</div>
