
<h2 class="ysabeau-sc">My Hobbies</h2>


<div class="d-flex flex-wrap mx-2">
  <% @hobby_follows.each do |hobby_follow| %>
    <%=render "hobby_follow", hobby_follow: hobby_follow%>
  <% end %>
</div>
