/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.better-colors {
  background-color: #000000;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
}

.nav-colors {
  color: #EDEFEB;
}

.nav-colors:hover {
  color: #97b3b7;
}

.accent-text {
  color: #879EA1;
}

.link-color {
  color: #ffffff;
  text-decoration: none;
}

.link-color:hover {
  color:#97b3b7;
  text-decoration: none;
}

.cool-btn {
  border: 0px;
  border-radius: 15px;
  padding: 5px 7px;
  background-color: #879EA1;
  color: #EDEFEB;
}

.cool-btn:hover {
  background-color: #97b3b7;
  color: #EDEFEB;
}

