/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.ysabeau-sc {
  font-family: "Ysabeau SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

hr {
  color:#554234;
}

.spacing {
  line-height: 1.6;
}

.better-colors {
  background: #ffefd5;
  color: #090A07;
  font-family: "Rubik", sans-serif;
}

.nav-colors {
  border: 1px solid #81837a;
  color: #090A07;
}

.nav-colors:hover {
  color: #97b3b7;
}

.accent-text {
  color: #090A07;
}

.link-color {
  color: #554234;
  text-decoration: none;
}

.link-color:hover {
  color:#090A07;
  text-decoration: none;
}

.cool-btn {
  color: #090A07;
  height: 30px;
  transition: 0.5s;
  padding-left: 3px;
}

.cool-btn:hover {
  border-bottom: solid .5px #090A07;
  color:#090A07;
}

.hover-1 {
  background-image: linear-gradient(#554234,#554234);
  padding: 10px;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .5s;
}
.hover-1:hover {
  background-size: 100% 100%;
  color:#ffffff;
}

.notice-style {
  color: green;
  background-color: hsla(0,0,100, 0.9);
}

.remove-def {
  border: none;
  background: none;
}

.sidebar {
  border-right: solid 1px #090A07;
  height: 100%;
}

.post-img {
  width: 60px;
  height: 60px; 
  border-radius: 5px;
  object-fit: cover;
}

.post-border {
  --b: .5px;   /* thickness of the border */
  --c: #4b4a45;   /* color of the border */
  --w: 20px;  /* width of border */
  

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg,var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
  
  border-radius: 0px;
}

/*landing page*/

.hero-div {
  display: block;
  max-width: 40vw;
  border-top: solid 0.5px;
  border-bottom: solid 0.5px;
}

.hero-text {
  font-size: 5vw;
  letter-spacing: 2px;
  line-height: 1.6;
  padding: 45px;
}

.outline {
  /*-webkit-text-stroke: 1.5px #090A07;
  -webkit-text-fill-color: #ffefd5;*/
  font-style: italic;
  font-size: 5.5vw;
}

.hero-top {
  text-indent: -2em;
}
.hero-bottom {
  text-indent: 1em;
}

.hero-img {
  max-width: 50vw;
  height: 350px;
  filter:  blur(0.75px) contrast(90%) brightness(110%);
  object-fit: contain;
}

.blurb {
  max-width: 65vw;
  border-left: solid 0.5px;
  border-right: solid 0.5px;
  line-height: 2;
  letter-spacing: 1px;
}

.quote-card {
  background-color: hsla(0, 0%, 100%, 0.7);
}

.quote-text {
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 1.25px;
  padding: 5px;
  margin: 2px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body.user {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
